@font-face {
    font-family: 'FuturaBook';
    src: url('futura-book.eot');
    src: url('futura-book.eot') format('embedded-opentype'),
         url('futura-book.woff') format('woff'),
         url('futura-book.ttf') format('truetype'),
         url('futura-book.svg#FuturaBook') format('svg');
}
