.btn {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px 4px 0;
    text-decoration: none;
    border: 0 none;
    border-radius: 3px;
    white-space: nowrap;
}
.btn:hover {
    text-decoration: none;
}

.btn-primary {
    background-color: #005ffb;
    color: #ffffff !important;
}
.btn-primary:hover {
    background-color: #0053dc;
}
.btn-secondary {
    background-color: #4b4b4b;
    color: #ffffff !important;
}
.btn-secondary:hover {
    background-color: #414141;
}
.btn-tertiary {
    background-color: #2ecc71;
    color: #ffffff !important;
}
.btn-tertiary:hover {
    background-color: #28b362;
}
.btn-danger {
    background-color: #ea3b35;
    color: #ffffff !important;
}
.btn-danger:hover {
    background-color: #ce332f;
}

.btn-small {
    font-size: 12px;
    padding: 6px 8px;
}

/*
TODO:

Remaining buttons:

Comment submit
Liked button (currently black)
Poster navigation (Next and Previous links)




Badges (new for Creative Briefs and Software for profiles)



Regenerate collection images
*/

.checkbox {
    position: relative;
    cursor: pointer;
    margin: 0 12px 0 20px;
}
.checkbox:before {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    left: -22px;
    height: 24px;
    width: 42px;
    background-color: #bbb;
    -webkit-border-radius: 14px;
            border-radius: 14px;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    cursor: pointer;
}
.checkbox:after {
    content: "";
    display: block;
    position: absolute;
    transition: transform .2s, -webkit-transform .2s;
    top: -2px;
    left: -20px;
    -webkit-border-radius: 12px;
            border-radius: 12px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.checkbox:checked:before {
    background-color: #005ffb;
}
.checkbox:checked:after {
    -ms-transform: translateX(18px);
        transform: translateX(18px);
    -webkit-transform: translateX(18px);
}
.labelize label {
    margin-right: 30px;
}